@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    background: linear-gradient(to bottom, #02000a, #042d4e);
    text-align: center;
}


nav {
    background-color: rgba(0, 0, 0, 1);
    padding: 15px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #00aaff;
}

.contact-container {
    max-width: 500px;
    margin: 100px auto 20px;
    background: rgb(0, 0, 0, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 26px;
    margin-bottom: 20px;
}

.contact-list {
    list-style: none;
    padding: 0;
}

.contact-list li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
    font-size: 18px;
}

.contact-list a {
    color: #00aaff;
    text-decoration: none;
    font-weight: bold;
    margin-left: 10px;
}

.contact-list a:hover {
    color: #0088cc;
}

.contact-list i {
    font-size: 24px;
    margin-right: 10px;
    color: #00aaff;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 1);
    margin-top: 400px;
    color: white;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    display: inline;
    margin: 0 10px;
}

footer a {
    color: #00aaff;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    color: #0088cc;
}