html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    -webkit-user-drag: none;
    user-select: none;
}

body {
    width: 1100px;
    background-color: #181619;
    margin: auto auto;
    box-shadow: 0px 0px 30px #000000, 0px 0px 70px #0000004d;
}


p::selection,
a::selection {
    background-color: white;
    color: #000000;
}

h1::selection,
span::selection,
h3::selection,
h2::selection {
    background-color: #65D4AE;
    color: #000000;
}


::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #65D4AE;
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background-color: #181619;
}


::-moz-scrollbar {
    width: 5px;
}

::-moz-scrollbar-thumb {
    background-color: #65D4AE;
    border-radius: 6px;
}

::-moz-scrollbar-track {
    background-color: #181619;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 110px;
}

header .banner {
    width: 125px;
}

header .banner img {
    max-height: 50px;
    margin-top: 24px;
}

header nav ul li {
    list-style: none;
    transition: all .3s ease-in-out;
}

header nav {
    display: flex;
    margin: auto;
    justify-content: center;
}

header nav ul {
    margin-top: 24px;
    height: 50px;
    display: flex;
    gap: 55px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header nav a {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    position: relative;
    text-decoration: none;
    transition: all .3s ease-in-out;
}

header .language {
    display: flex;
    align-items: flex-end;
}

header .language .language_content {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 125px;
    gap: 20px;
    align-items: center;
    height: 50px;
}

header .language .en img,
header .language .fin img {
    max-width: 30px;
    transition: all .3s ease-in-out;
}

header .language .en img:hover {
    filter: drop-shadow(0 0 20px #002b6c);
    transition: all .5s ease-in-out;
    transform: scale(1.1);
    cursor: pointer;
}

header .language .fin img:hover {
    filter: drop-shadow(0 0 30px #002b6c);
    transition: all .5s ease-in-out;
    transform: scale(1.1);
    cursor: pointer;
}

/* 
Animation hover menu 
*/

nav ul li a:hover:before {
    visibility: visible;
    transform: scaleX(1);
}


nav ul li a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    visibility: hidden;
    transform: scaleX(0);
    transition: all .3s ease-in-out;
}

/* 
Home
*/
.home {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
}

.title {
    padding-left: 200px;
    display: flex;
}

.title h1 {
    color: #FFF;
    text-align: right;
    font-family: 'Roboto', sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.description {
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
}

.description span {
    color: #65D4AE;
    text-align: right;
    font-family: 'poppins', sans-serif;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    filter: drop-shadow(0 10px 60px #75f7c9);
}

.description h2 {
    color: #FFF;
    text-align: right;
    font-family: 'poppins', sans-serif;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 40%;
    margin-bottom: 55px;
}

.title h1::selection {
    background-color: white;
    color: black;
}




main {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    margin-top: 100px;
}

.article_container {
    max-width: 940px;
    display: flex;
    flex-direction: column;
    z-index: 999;
    gap: 90px;
}

article {
    opacity: 0;
    transform: translateY(300px);
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: opacity 0.5s ease, transform 0.5s ease;
    padding-top: 50px;
    padding-bottom: 50px;
}

article img {
    max-width: 325px;
    border-radius: 6px;
    box-shadow: 8px 9px 9.3px 1px rgba(0, 0, 0, 0.25);
    transition: all ease .5s;
}

article .img_art_2 {
    max-width: 325px;
    border-radius: 6px;
    margin-left: 30px;
    box-shadow: 8px 9px 9.3px 1px rgba(0, 0, 0, 0.25);
    transition: all ease .5s;
}

article img:hover,
article .img_art_2:hover {
    transition: all ease .5s;
    cursor: pointer;
    transform: scale(1.06);
}

article .text_article {
    margin-left: 30px;
}

article .text_article h2 {
    color: #65D4AE;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-bottom: 10px;
}

article .text_article h2::selection {
    background-color: white;
    color: #65D4AE;
}

article .text_article p {
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

article .text_article p::selection {
    background-color: white;
    color: #000000;
}

article .text_article h2::selection {
    background-color: white;
    color: #65D4AE;
}

article .text_article p,
article .text_article ul,
article .text_article ol,
article .text_article li {
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

article .text_article p::selection,
article .text_article ul::selection,
article .text_article ol::selection,
article .text_article li::selection {
    background-color: white;
    color: #000000;
}



.css {
    display: flex;
    flex-direction: column;
    gap: 30px;
}



.constructeur h3 {
    position: relative;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-right: 15px;
    text-transform: uppercase;
    text-align: center;
    margin: 30px 20px 0 20px;
}

.constructeur_list,
.css_list {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.constructeur_list ul,
.css_list ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin: 0 30px;
}

.constructeur_list ul li,
.css_list ul li {
    list-style: none;
    transition: all .3s ease-in-out;
}

.constructeur_list a {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    position: relative;
    text-decoration: none;
    transition: all .3s ease-in-out;
    text-align: center;
}

.css_list a {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: .8rem;
    position: relative;
    text-decoration: none;
    transition: all .3s ease-in-out;
    text-align: center;
}


.constructeur_list ul li:hover,
.constructeur_list a:hover,
.css_list ul li:hover,
.css_list a:hover {
    transform: scale(1.1);
    transition: all .3s ease-in-out;
}

.constructeur_list ul li:hover:before,
.css_list ul li:hover:before {
    visibility: visible;
    transform: scaleX(1);
}

.constructeur_list ul li:before,
.css_list ul li:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    visibility: hidden;
    transform: scaleX(0);
    transition: all .3s ease-in-out;
}





.pilote {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.presentation img {
    display: flex;
    align-self: flex-start;
    width: 100px;
    transition: all .5s ease-in-out;
    user-select: none;
}

.presentation img:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 10px 60px #002b6c);
    transition: all .5s ease-in-out;
}

.presentation {
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    gap: 25px;
    transform: scale(1);
}


.presentation .information {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.presentation .information .nom_pilote {
    max-width: 100px;
}

.presentation .information .nom_pilote p {
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.presentation .information .info_pilote {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.presentation .information .info_pilote p {
    color: #969597;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.presentation .information .info_pilote p span {
    font-weight: 500;
}

/*
Chart
*/


.chart_1 {
    width: 292px;
    height: 129px;
    border-radius: 16px;
    border: 1px solid rgba(101, 212, 174, 0.11);
    background: rgba(217, 217, 217, 0.04);
    display: flex;
    justify-content: flex-end;
    transition: all .5s ease-in-out;
    overflow: hidden;
}

.chart_2 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    padding: 10px 0 10px 10px;
    top: -5%;
    left: 70%;
    width: 126px;
    height: 126px;
    border-radius: 16px;
    border: 1px solid rgba(101, 212, 174, 0.13);
    background: rgba(255, 255, 255, 0.06);
    transition: all .5s ease-in-out;
}

.chart_2 p::selection,
.chart_1 p::selection {
    background-color: #65D4AE;
    color: #000000;
}


.chart_1:hover,
.chart_2:hover {
    border: 1px solid rgba(101, 212, 173, 0.377);
    transition: all .5s ease-in-out;
    transform: scale(1.03);
    filter: drop-shadow(0 10px 60px #65D4AE);
    cursor: default;
}

.icon_chart2 svg {
    transition: all .5s ease-in-out;
}

.chart_2:hover .icon_chart2 svg {
    transform: scale(1.2);
    transition: all .5s ease-in-out;
}

.chart_1_overlay {
    transition: all .5s ease-in-out;
}

.chart_1:hover .chart_1_overlay {
    transform: scale(1.15);
    transition: all .5s ease-in-out;
}

.chart .chart_1 .txt_chart_1 {
    position: relative;
    top: 50%;
    left: 5%;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    white-space: nowrap;
}

.leader .pilote .chart .txt_chart_1 p:nth-child(1) {
    position: relative;
    top: -20%;
    color: #969597;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.leader .pilote .chart .txt_chart_1 .pourcentage {
    position: relative;
    top: -60%;
    left: 110px;
    background: rgba(101, 212, 174, 0.08);
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height: 18px;
    width: 77px;
    transition: all .5s ease-in-out;
}

.chart_1:hover .txt_chart_1 .pourcentage {
    transform: scale(1.2);
    transition: all .5s ease-in-out;
}

.leader .pilote .chart .txt_chart_1 .pourcentage p {
    top: -20%;
    color: #65D4AE;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.leader .pilote .chart .txt_chart_1 svg {
    max-height: 11px;
    fill: #65D4AE;
}

.leader .pilote .chart .chart_2 .icon_chart2 {
    width: 49px;
    height: 49px;
    border-radius: 8px;
    background: rgba(101, 212, 174, 0.08);
    display: flex;
    align-items: center;
    justify-content: center;
}

.leader .pilote .chart .chart_2 p:nth-child(2) {
    color: #969597;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.leader .pilote .chart .chart_2 p:nth-child(3) {
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.background_kalle img {
    margin-top: 100px;
    width: 960px;
}

/*
Slider 
*/

@-webkit-keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(calc(-150px * 16));
        transform: translateX(calc(-150px * 16));
    }
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(calc(-150px * 16));
        transform: translateX(calc(-150px * 16));
    }
}

.slider {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 960px;
    margin: 50px 0 25px 0;
}

.slider::after {
    right: 0;
    top: 0;
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
}

.slider::before {
    left: 0;
    top: 0;
}

.slider .slide-track {
    -webkit-animation: scroll 70s linear infinite;
    animation: scroll 70s linear infinite;
    display: flex;
    width: calc(150px * 48);
}

.slider .slide {
    height: auto;
    width: 150px;
}

.slide img {
    width: 100px;
    transition: all .5s ease-in-out;
}

.slide img:hover {
    transform: scale(1.2);
    cursor: pointer;
    transition: all .5s ease-in-out;
}

/* 
footer 
*/

.footer-main {
    background: rgba(255, 255, 255, 0.04);
    padding: 45px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

footer .rs_logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .rs_logo .logo img {
    width: 105px;
}

footer .rs_logo .rs {
    display: flex;
    flex-direction: row;
    gap: 10px;
    max-width: 105px;

}

footer .rs_logo .rs img {
    max-width: 25px;
    transition: all ease-in-out .5s;
}

footer .rs_logo .rs img:hover {
    filter: invert(23%) sepia(25%) saturate(1415%) hue-rotate(134deg) brightness(91%) contrast(84%);
    transition: all ease-in-out .5s;
    transform: scale(1.1);
    cursor: pointer;
}

.line {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.line_1,
.line_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.line_1 p,
.line_2 p {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 15px;
    font-weight: 500;
    position: relative;
    text-decoration: none;
}

.line_1 ul,
.line_2 ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.line_1 ul li,
.line_2 ul li {
    list-style: none;
    transition: all .3s ease-in-out;
}

.line_1 ul li a {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 13px;
    font-weight: 300;
    position: relative;
    text-decoration: none;
}

.line_2 ul li {
    color: #65D4AE;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 13px;
    font-weight: 300;
    position: relative;
    text-decoration: none;
}

.line_2 ul li {
    cursor: pointer;
}

.footer-secondary {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-secondary span {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 13px;
    font-weight: 300;
    position: relative;
    text-decoration: none;
    padding: 20px;
}

.email-container {
    position: relative;
}

.copy-success {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    margin-top: 5%;
    background-color: #65D4AE;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    color: #000000;
    border-radius: 50px;
    display: none;
    filter: drop-shadow(0 0 30px #65D4AE);
}


.web img {
    padding-top: 50px;
    display: block;
    max-width: 80%;
    height: auto;
    margin: 10px auto; 
}


.web p {
    color: #555;
    font-style: italic;
    margin: 5px 0;
}

.toggleButton {
    border-radius: 10px;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin: 20px 0 20px 350px; /* Marge top, right, bottom, left */
}

.toggleButton:hover {
    background-color: #45a049; /* Couleur différente au survol */
}

.toggleButton:focus {
    outline: none; /* Supprimer le contour lorsqu'il est en focus */
}



.web {
    display: none; 
}


.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.gallery-image {
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

.gallery-image:hover {
    transform: scale(1.2);
}

.gallery-image img {
    display: block;
    max-width: 300px; 
    width: 100%;
    height: auto;
    border-radius: 8px;
}



